<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        </title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/starter-template.css">
            {% block stylesheets %}
            {% endblock %}
            {% block javascripts %}
            {% endblock %}
    </head>
    <body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <header>
        <div class="starter-template">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Fixed navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav">
                        {% if is_granted('ROLE_USER') %}
                        <li>
                            <div class="nav-link disabled">
                            <i class="fas fa-user"></i>
                            {% if app.user %}
                                <strong>{{ app.user.username }}</strong>
                            {% endif %}
                            </div>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ path('app_logout') }}">{{'Logout'|trans}}</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="nav-link" href="{{ path('app_login') }}">{{'Sign in'|trans}}</a>
                        </li>
                        {% endif %}
                    </ul>
                </form>
            </div>
            </div>
        </nav>
    </header>
  <main role="main" class="container">
        <div>
            {% block body %}

            {% endblock %}
        </div>
    </div>
  </main><!-- /.container -->
    <!-- Bootstrap core JavaScript
  ================================================== -->
  <script src="js/bootstrap.js"></script>
    </body>
</html>
